<div class="container">

  <div class="jumbotron">
    <h1 class="text-center">HEALTHCARE SOLUTIONS</h1>
    <hr>
    <h5 class="text-center">Patient Information</h5>
    <br>

    <div class="text-center">
      
        {{!-- <button class="btn btn-lg btn-primary">Last Visits</button> --}}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#centralModalMd">
          Add Visit Notes
        </button>

      <a href="Home">
        <button class="btn btn-lg btn-default">
          <span class="fa fa-home"></span>
        </button>
      </a>
    </div>
  </div>
<div class="card-body">
  <ul>
{{#each patients}}

<li>{{firstName}}</li> 
<li>{{lastName}}</li>
<li>{{contact}}</li>
<li>{{address1}}</li>
<li>{{address2}}</li>
<li>{{city}}</li>
<li>{{state}}</li>
<li>{{zipcode}}</li>

{{else}}

<p>No patient available</p>
{{/each}}
</div>
  </ul>

<!-- Central Modal Small -->
<div class="modal fade" id="centralModalMd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Change class .modal-md to change the size of the modal -->
  <div class="modal-dialog modal-md" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">New Visit Notes</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="visit-notes">Visit Notes</label>
            <textarea type="text" class="form-control" id="visit-notes">
            </textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" id="add-visit-notes">Save changes</button>
      </div>
    </div>
  </div>
</div>